body {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background: #ffbef1;
  margin: 0;
  padding: 0;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 10px 20px;
}

button:hover {
  background: #e95a50;
}

.cake-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.cake {
  width: 100%;
  display: block;
}

.candle-wrapper {
  position: absolute;
  top: 5px;
  width: 100%;
  display: flex;
  justify-content: center; /* เทียนซ้าย-ขวาเท่ากัน */
  pointer-events: none;
  z-index: 10;
}

.candle {
  height: 130px;
  width: auto;
}
.candle.left {
  position: absolute;
  top: -50px;
  left: 45%;
  transform: translateX(-60%);
  z-index: 2;
}

.candle.right {
  position: absolute;
  top: -50px;
  left: 35%;
  transform: translateX(5%);
  z-index: 1;
}
.container {
  background: #fff0fb;
  padding: 35px;
  max-width: 450px;
  margin: auto;
  margin-top: 15%;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

h1 {
  color: #e95a50;
  font-size: 40px;
}

h1.input {
  color: #e95a50;
  font-size: 30px;
}

p {
  color: #e95a50;
  font-size: 20px;
}

/* Tablet */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .candle {
    height: 120px;
  }

  .candle-wrapper {
  position: absolute;
  top: 15px;
  width: 100%;
  display: flex;
  justify-content: center; /* เทียนซ้าย-ขวาเท่ากัน */
  pointer-events: none;
  z-index: 10;
  }

  button {
    padding: 8px 16px;
    font-size: 15px;
  }

  input {
    padding: 6px;
    font-size: 14px;
  }

  h1 {
    font-size: 35px;
  }

  p {
    font-size: 18px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  body {
    font-size: 13px;
  }

  .candle {
    height: 120px;
  }

  .candle-wrapper {
    position: absolute;
    top: 15px;
    width: 100%;
    display: flex;
    justify-content: center; /* เทียนซ้าย-ขวาเท่ากัน */
    pointer-events: none;
    z-index: 10;
  }

  .container {
    max-width: 350px;
    margin-top: 30%;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 15px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form .button {
    margin-top: 10px;
    font-size: 15px;
  }
}

@media (max-width: 460px) {
  .candle {
    height: 115px;
  }

  .candle-wrapper {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center; /* เทียนซ้าย-ขวาเท่ากัน */
    pointer-events: none;
    z-index: 10;
  }

  .container {
    margin-top: 35%;
  }
}

@media (max-width: 410px) {
  .candle {
    height: 110px;
  }

  .candle-wrapper {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center; /* เทียนซ้าย-ขวาเท่ากัน */
    pointer-events: none;
    z-index: 10;
  }

  .container {
    margin-top: 35%;
  }
}

/* Extra Small Mobile */
@media (max-width: 360px) {
  .candle {
    height: 95px;
  }

  .candle-wrapper {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center; /* เทียนซ้าย-ขวาเท่ากัน */
    pointer-events: none;
    z-index: 10;
  }

  .container {
    margin-top: 35%;
  }
}
